<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bba22c1c-6b38-45d7-b241-872fe7110e32" name="List Processing" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bba22c1c-6b38-45d7-b241-872fe7110e32fileName">List-Processing</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
